# Python virtual environments
venv/
.venv/

# Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Real PCAP datasets
data/real_pcaps/test_results.json
data/real_pcaps/
test_results.json
